<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>888346500388-e769u773ou9e04cqv512843auddfu07h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888346500388-e769u773ou9e04cqv512843auddfu07h</string>
	<key>API_KEY</key>
	<string>AIzaSyCRWIuxyr47Sv_f4N-XX_M4TMu3dd8wd5o</string>
	<key>GCM_SENDER_ID</key>
	<string>888346500388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sb.sbnotesapp</string>
	<key>PROJECT_ID</key>
	<string>sb-note-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sb-note-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888346500388:ios:fca2afd4bb9be2c4ee27b1</string>
</dict>
</plist>